@page "/customers-list"
@attribute [Authorize(Roles = "Administrator")]

@inject ICustomerService CustomerService

<h3>CustomerList</h3>
<br />

@foreach (var c in customers)
{
    <h4>CustomerId: @c.CustomerId</h4>
    <h4>Surname: @c.Surname</h4>
    <h4>Name: @c.Name</h4>
    <h4>Email: @c.Login</h4>
    <h4>Password: @c.Password</h4>
    <hr />
}

@code {
    List<Customer> customers = new List<Customer>();

    protected override async Task OnInitializedAsync()
    {
        customers = await CustomerService.GetAll();
    }
}